
body {
    margin: 0;
    padding: 0;
}

#audioContainer {
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
}

#svgContainer {
    overflow: auto;
    width: 100%;
    padding: 80px 0px 20px;
    text-align: center;
}
